<h1>Countries#edit</h1>

<%= @country %>

<form action="/countries/<%= @country.id %>" method="POST">
	<%= token_tag %>
	<label for="name">Name: </label>
	<input type="text" name="name" value="<%= @country.name %>">

	<label for="pop">Population: </label>
	<input type="text" name="description" value="<%= @country.pop %>">

	<label for="flag_url">Flag url: </label>
	<input type="text" name="flag_url" value="<%= @country.flag_url %>">

	<label for="language">Language: </label>
	<input type="text" name="language" value="<%= @country.language %>">

	<label for="president">President: </label>
	<input type="text" name="president" value="<%= @country.president %>">

	<input type="hidden" name="_method" value="PUT">

	<input type="submit" value ="UPDATE">

</form>
