<h1>Countries#index</h1>

<a href="countries/new">New country</a>
<% @countries.each do |country| %>
	<h2><%= country.name %></h2>
	<a href="/countries/<%=  country.id %>">View</a>
	<a href="/countries/<%= country.id %>/edit">Edit</a>
	<form action="/countries/<%= country.id %>" method="POST">
			<%= token_tag %>
			<input type="hidden" name="_method" value="DELETE">
			<input type="submit" value="Delete">
	</form>
<% end %>