<h1>Countries#show</h1>

<h2>Name: <%= @country.name %></h2>
<h2>Population: <%= @country.pop %></h2>
<h2>Flag: <img src="<%= @country.flag_url %>" width=100 height=50></h2>
<h2>Language: <%= @country.language %></h2>
<h2>President: <%= @country.president %></h2>
<%= token_tag %>

<a href="/countries">Back</a>
